fastapi==0.104.1
uvicorn==0.24.0
sqlalchemy==2.0.35  # or latest version
pydantic==2.11.5
pydantic-settings==2.1.0
pydantic[email]==2.11.5
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.6
email-validator==2.1.0.post1
python-dotenv==1.0.0
mysqlclient==2.2.0
reportlab==4.0.7
pymysql
numpy==1.26.2
httpx==0.25.2
stripe==7.8.0